/* $Id: pickem.css,v 1.1.2.1 2008/09/18 21:57:44 jvandervort Exp $ */

/*
  GENERAL
*/
.warning {
  color:red;
}
.win {
  color:green;
}
.loss {
  color:red;
}
.pickem table {
	border-style: hidden;
}

/*
 GRID TABLE
*/
.pickem table.grid {
  font-size: 10px;
  padding: 0;
  margin: 0;
  border-style: none;
}
.pickem table.grid td {
  padding: 0 1px 0 1px;
  margin: 0;
  border-left: 3px solid #CCCCCC;
  text-align: center;
}
.pickem table.grid *.win {
  border-left: 3px solid #006400;
  background: #90EE90;
}
.pickem table.grid *.loss {
  border-left: 3px solid #8B0000;
  background: #FF7070;
}
.pickem table.grid *.tie {
  border-left: 3px solid #8B0000;
  background: #90EE90;
}
.pickem table.grid *.bye {
  border-left: 3px solid black;
  background: #D3D3D3;
}
.pickem table.grid *.legend-desc {
  text-align:left;
  font-weight:bold;
}

/*
 PICKS TABLE
*/
.pickem table.picks td {
  vertical-align:top;
  padding:10px 3px 3px 10px;
}
.pickem table.picks .picks-float {
  float:left;
  margin:5px 0 0 3px;
  width:60px;
  border-left: 1px solid black;
}
.pickem table.picks .pick_win {
 color:green;
 font-weight:bold; 
}
.pickem table.picks .pick_loss {
 color:red;
 font-weight:bold; 
}

/*
 STANDINGS TABLE
*/
.pickem table.standings th {
  text-align: left;
}
.pickem table.standings td, .pickem table.standings th.week-numbers {
  text-align: right;
}
.pickem table.standings *.weekly-high {
  color: green;
  font-weight:bold;
}
.pickem table.standings *.weekly-low {
  color: red;
  font-weight:bold;
}

/*
  LEAGUE NAV TABLE
*/
.pickem table.league-nav td {
  vertical-align:top;
}
.pickem table.league-nav .col1 {
  width:25%;
}
.pickem table.league-nav .col2 {
  width:75%;
}

/*
  WEEKS GAMES TABLE
*/
.pickem table.weeks-games {
	width: 200px;
}
.pickem table.weeks-games .team-abbrev {
	width: 75px;
}
.pickem table.weeks-games .score {
	width: 125px;
}

/*
  ADMIN SCORES TABLE
*/
.pickem table.admin-scores {
	width: 500px;
}
.pickem table.admin-scores .team {
	width: 75px;
}
.pickem table.admin-scores .score {
	width: 125px;
}
.pickem table.admin-scores .time {
	width: 300px;
}

/*
  LEAGUE(S) DASH
*/
.pickem .dash {
  font-size:11px;
}
.pickem .dash td {
  margin:0;
  padding:0;
}
.pickem .dash .title {
  font-weight:bold;
  text-decoration: underline;
}

/*
  USER LIST 
*/
.pickem .user-list-horiz {
	margin-left: 10px;
}

/*
  GAME LIST 
*/
.pickem .game-list-horiz {
  float:left;
  margin:5px 0 0 3px;
  width:60px;
  border-left: 2px solid black;
}