/* $Id: $ */

.dash {
  margin:0;
  padding:0;
  font-size:10.5px;
  vertical-align:top;
}
.dash table tr td{
  border-style:none;
}
.dash table td {
  margin:0;
  padding:0;
}
.dash .title {
  font-weight:bold;
  text-decoration: underline;
}




.pickem table.grid {
  font-size: 10px;
  padding: 0;
  margin: 0;
}
.pickem table.grid td {
	padding: 0 1px 0 1px;
  margin: 0;
  border-left: 3px solid #cccccc;
}



.pickem table.picks td {
  vertical-align:top;
  padding:10px 3px 3px 10px;
}

.pickem table.standings td {
  text-align: right;
  padding-right: 5px;
  vertical-align: middle;
  font-family: Courier, monospace;
  font-weight: bold;
}
.pickem table.standings td.totals {
  font-weight:bold;
  font-size: 1.4em;
  padding:3px;
  border-right-style: none;
}
.pickem table.standings td.gamesback {
  font-weight:normal;
  font-size: 0.9em;
  border-left-style: none;
  padding-left:10px;
}




table.block_scores {
  margin-left: 10px;
}
table.block_scores td.vis-t {
  text-align:left;
}
table.block_scores td.vis-s {
  text-align: right;
  font-family: Courier, monospace;
  font-weight: bold;
}
table.block_scores td.home-t {
  padding-left:20px;
}
table.block_scores td.home-s {
  text-align:right;
  font-family: Courier, monospace;
  font-weight: bold;
}




.pickem th.win, .pickem td.win {
  border-left: 3px solid #006400;
  background: #90EE90;
}
.pickem table th.loss, .pickem table td.loss {
  border-left: 3px solid #8B0000;
  background: #FF7070;
}
.pickem table th.tie, .pickem table td.tie {
  border-left: 3px solid #8B0000;
  background: #90EE90;
}
.pickem table th.bye, .pickem table td.bye {
  background: lightgray;
}




.pickem table.picks .pick_win {
 color:green;
 font-weight:bold; 
}
.pickem table.picks .pick_loss {
 color:red;
 font-weight:bold; 
}


/*
  GENERAL
*/
.warning {
  color:red;
}
.win {
  color:black;
  background: #90EE90;
  border-left: 3px solid #006400;
}
.loss {
  color:black;
  background: #FF7070;
  border-left: 3px solid #8B0000;
}
.tie {
  color:black;
  background: #FFB6C1;
  border-left: 3px solid #F08080;
}
.bye {
  color:black;
  background: #D3D3D3;
  border-left: 3px solid black;
}


.pickem table {
	border-style: hidden;
}

/*
 GRID TABLE
*/
.pickem table.grid {
  font-size: 10px;
  padding: 0;
  margin: 0;
  border-style: none;
}
.pickem table.grid td {
  padding: 1px;
  margin: 0;
  text-align: center;
  color: black;
}
.pickem table.grid td.team_head {
  padding: 3px;
  text-align: center;
  color: black;
  font-weight:bold;
}



/*
 PICKS TABLE
*/
.pickem table.picks td {
  vertical-align:top;
  padding:10px 3px 3px 10px;
}
.pickem table.picks .picks-float {
  float:left;
  margin:5px 0 0 3px;
  width:60px;
  border-left: 1px solid black;
}
.pickem table.picks .pick_win {
 color:green;
 font-weight:bold; 
}
.pickem table.picks .pick_loss {
 color:red;
 font-weight:bold; 
}

/*
 STANDINGS TABLE
*/
.pickem table.standings th {
  text-align: left;
}
.pickem table.standings td, .pickem table.standings th.week-numbers {
  text-align: right;
}
.pickem table.standings *.weekly-high {
  color: green;
  font-weight:bold;
}
.pickem table.standings *.weekly-low {
  color: red;
  font-weight:bold;
}

/*
  LEAGUE NAV TABLE
*/
.pickem table.league-nav td {
  vertical-align:top;
}
.pickem table.league-nav .col1 {
  width:35%;
}
.pickem table.league-nav .col2 {
  width:65%;
}

/*
  ADMIN SCORES TABLE
*/
.pickem table.admin-scores {
	width: 500px;
}
.pickem table.admin-scores .team {
	width: 75px;
}
.pickem table.admin-scores .score {
	width: 125px;
}
.pickem table.admin-scores .time {
	width: 300px;
}

/*
  LEAGUE(S) DASH
*/
.pickem .dash {
  font-size:11px;
}
.pickem .dash td {
  margin:0;
  padding:0;
}
.pickem .dash .title {
  font-weight:bold;
  text-decoration: underline;
}

/*
  USER LIST 
*/
.pickem .user-list-horiz {
	margin-left: 10px;
}

/*
  GAME LIST 
*/
.pickem .game-list-horiz {
  float:left;
  margin:5px 0 0 3px;
  width:60px;
  border-left: 2px solid black;
}

/*
  LEADERBOARD BLOCK
*/
.pickem-league-leaders {
  margin:0;
  padding:0;
  border-style: hidden;
}
.pickem-league-leaders td.score {
  margin:0;
	padding-right: 4px;
	text-align: right;
}
.pickem-league-leaders td.user {
  margin:0;
	padding-left: 1px;
	text-align: left;
}

/*
  THIS WEEKS GAMES BLOCK 
*/
.pickem-weeks-games {
  margin:0;
  padding:0;
  border-style: hidden;
}
.pickem-weeks-games td.team-abbrev {
	padding-right: 4px;
	text-align: right;
}
.pickem-weeks-games td.score {
	padding-left: 1px;
	text-align: left;
}